<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Young Professionals Council</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="The YPC is composed of emerging leaders in the business community who are dedicated to promoting the level of health care in the County of Santa Clara and addressing the current health-related issues affecting the community. The focus of the Young Professional Council is to raise funds, volunteer, promote community awareness, and build partnerships with the local business community." />
	<meta name="keywords" content="YPC, Young Professional Council, VMC Foundation, Santa Clara County, Santa Clara Valley Medical Center, Women and Children’s Center, Raise funds, volunteer, promote community awareness, build partnerships, young leaders, positive impact, network, goal, expand."/>
	<link rel="icon" href="images/logo/YPC_16px.ico"/>

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">

	<!-- Animate.css -->
	<link rel="stylesheet" href="css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="css/bootstrap.css">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="css/magnific-popup.css">

	<!-- Theme style  -->
	<link rel="stylesheet" href="css/style.css">

	<!-- Modernizr JS -->
	<script src="js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>

	<div class="fh5co-loader"></div>

	<div id="page">
	<nav class="fh5co-nav" role="navigation">
		<div class="container">
			<div class="row">
				<div class="col-xs-2 text-left">
					<div id="fh5co-logo"><a href="/"><img src="images/logo/YPCLogo.png" width="300px"></a></div>
				</div>
				<div class="col-xs-10 text-right menu-1">
					<ul>
						<li><a href="/">Home</a></li>
						<li class="active"><a href="/executives">Executives</a></li>
						<li><a href="/events">Events</a></li>
						<li><a href="/registration">Join</a></li>
						<li><a href="/blog">Blog</a></li>
						<li><a href="/contact">Contact</a></li>
						<li><a href="/login" class="btn btn-primary" id="Sign-in">Sign In</a></li>
					</ul>
				</div>
			</div>
		</div>
	</nav>

	<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url(images/banner/Executives.jpg)" data-stellar-background-ratio="1">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-7 text-left">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeInUp">
							<h1 class="mb30">Executives</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<div id="fh5co-team">
		<div class="container">
			<div class="row animate-box row-pb-md">
				<div class="col-md-8 col-md-offset-2 text-left fh5co-heading">
					<span>Meet Our Leaders</span>
					<h2>EXECUTIVE BOARD</h2>
					<p>The YPC is composed of emerging leaders in the business community who are dedicated to promoting the level of health care in the County of Santa Clara and addressing the current health-related issues affecting the community. These young leaders enhance the positive impact of the VMC Foundation while advancing their personal and professional goals and expanding their professional networks.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8 col-md-offset-2 animate-box" data-animate-effect="fadeIn">
					<div class="fh5co-staff">
						<img src="images/executives/elliot.jpg" alt="Free HTML5 Templates by gettemplates.co">
						<h3>ELLIOT JUSTICE</h3>
						<strong class="role">President</strong>
						<p class="text-left">Elliot Graduated Magna Cum Laude from the University of Oregon in 2011 with a degree in Political Science, where he developed his passion for social action and community service. In his role as Founder and President of the YPC, he will work to foster a community of emerging leaders who share a commitment to advancing the mission of VMC. For the last three years, Elliot has worked at Cushman & Wakefield as a tenant representative advising technology companies on their real estate strategies.</p>
						<ul class="fh5co-social-icons">
							<li><a href="#"><i class="icon-facebook"></i></a></li>
							<li><a href="#"><i class="icon-twitter"></i></a></li>
							<li><a href="#"><i class="icon-linkedin"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-8 col-md-offset-2 animate-box" data-animate-effect="fadeIn">
					<div class="fh5co-staff">
						<img src="images/executives/tiffany.jpg" alt="Free HTML5 Templates by gettemplates.co">
						<h3>TIFFANY WANG</h3>
						<strong class="role">Strategic Inititaives & Events Chair</strong>
						<p class="text-left">Tiffany is a Bay Area native with a continued interest in volunteering and working towards promoting a healthy local community. She holds a bachelor’s degree in biology from Boston College and aspires to continue her education with a joint J.D. /M.P.H. degree.</p>
						<ul class="fh5co-social-icons">
							<li><a href="#"><i class="icon-facebook"></i></a></li>
							<li><a href="#"><i class="icon-twitter"></i></a></li>
							<li><a href="#"><i class="icon-linkedin"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-8 col-md-offset-2 animate-box" data-animate-effect="fadeIn">
					<div class="fh5co-staff">
						<img src="images/executives/kristi.jpg" alt="Free HTML5 Templates by gettemplates.co">
						<h3>KRISTI PEARCE-PERCY</h3>
						<strong class="role">Membership Chair</strong>
						<p class="text-left">Kristi has a passion for Philanthropy and is an avid networker. Her work ethic is fueled by a sense of purpose and commitment to the Bay Area, where she was born and raised. For the last 12 years Kristi has worked for Cuschieri Horton Architects, a firm that specializes in Health Care Design.</p>
						<ul class="fh5co-social-icons">
							<li><a href="#"><i class="icon-facebook"></i></a></li>
							<li><a href="#"><i class="icon-twitter"></i></a></li>
							<li><a href="#"><i class="icon-linkedin"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-8 col-md-offset-2 animate-box" data-animate-effect="fadeIn">
					<div class="fh5co-staff">
						<img src="images/executives/jessica.jpg" alt="Free HTML5 Templates by gettemplates.co">
						<h3>JESSICA AIRLINE</h3>
						<strong class="role">Volunteer Chair</strong>
						<p class="text-left">Jessica is a currently a Senior Public Affairs Representative at Kaiser Permanente, with over 9 years’ experience working in healthcare and community health outreach roles. Raised in Santa Cruz, Jessica has always had a passion for social justice and works to promote total health for local communities. She holds a Master’s in Public Administration from San Jose State University, and a Bachelor of Arts in Political Science from the University of California at Los Angeles.</p>
						<ul class="fh5co-social-icons">
							<li><a href="#"><i class="icon-facebook"></i></a></li>
							<li><a href="#"><i class="icon-twitter"></i></a></li>
							<li><a href="#"><i class="icon-linkedin"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-8 col-md-offset-2 animate-box" data-animate-effect="fadeIn">
					<div class="fh5co-staff">
						<img src="images/executives/paul.jpg" alt="Free HTML5 Templates by gettemplates.co">
						<h3>PAUL SCHINDLER</h3>
						<strong class="role">Corporate Development & Partnership Co-Chair</strong>
						<p class="text-left">Paul graduated from University of California, Davis in 2008 with a degree in Economics and Sacramento State University in 2011 with an MS in Ed Counseling. Paul has experience working with political lobbying organizations in Sacramento as well as in various roles with Educational and Medical non-profits since 2008. In his role as Bay Area Community Manager for Coding Dojo, he is able to leverage technology and community to help aspiring developers as well as organizations reach their goals.</p>
						<ul class="fh5co-social-icons">
							<li><a href="#"><i class="icon-facebook"></i></a></li>
							<li><a href="#"><i class="icon-twitter"></i></a></li>
							<li><a href="#"><i class="icon-linkedin"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-testimonial" class="fh5co-bg-section">
		<div class="container">
			<div class="row animate-box row-pb-md">
				<div class="col-md-8 col-md-offset-2 text-left fh5co-heading">
					<span>Connect with like-minded professionals</span>
					<h2>HAPPY MEMBERS</h2>
					<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 animate-box">
					<div class="testimonial">
						<blockquote>
							<p>&ldquo;Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.&rdquo;</p>
							<p class="author"> <img src="images/person1.jpg" alt="Free HTML5 Bootstrap Template by gettemplates.co"> <cite>&mdash; Mike Adam</cite></p>
						</blockquote>
					</div>
					<div class="testimonial fh5co-selected">
						<blockquote>
							<p>&ldquo;Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius. Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.&rdquo;</p>
							<p class="author"><img src="images/person2.jpg" alt="Free HTML5 Bootstrap Template by gettemplates.co"> <cite>&mdash; Eric Miller</cite></p>
						</blockquote>
					</div>
				</div>
				<div class="col-md-6 animate-box">
					<div class="testimonial fh5co-selected">
						<blockquote>
							<p>&ldquo;Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius. Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.&rdquo;</p>
							<p class="author"><img src="images/person3.jpg" alt="Free HTML5 Bootstrap Template by gettemplates.co"> <cite>&mdash; Eric Miller</cite></p>
						</blockquote>
					</div>
					<div class="testimonial">
						<blockquote>
							<p>&ldquo;Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.&rdquo;</p>
							<p class="author"><img src="images/person1.jpg" alt="Free HTML5 Bootstrap Template by gettemplates.co"> <cite>&mdash; Mike Adam</cite></p>
						</blockquote>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-started">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<span>Let's work together</span>
					<h2>BECOME A MEMBER</h2>
					<p>The focus of the Young Professional Council is to raise funds, volunteer, promote community awareness, and build partnerships with the local business community.</p>
					<p><a href="/registration"><button type="submit" class="btn btn-primary">Join Us</button></a></p>
				</div>
			</div>
		</div>
	</div>

	<footer id="fh5co-footer" role="contentinfo">
		<div class="container">
			<div class="row row-pb-md">
				<div class="col-md-4 fh5co-widget ">
					<h3><a href="/"><img src="images/logo/YPCLogo.png" width="250px"></a></h3>
				</div>
				<div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1 ">
					<ul class="fh5co-footer-links">
						<li><a href="/">Home</a></li>
						<li><a href="/executives">Executives</a></li>
						<li><a href="/events">Events</a></li>
					</ul>
				</div>
				<div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1 ">
					<ul class="fh5co-footer-links">
						<li><a href="/registration">Join</a></li>
						<li><a href="/blog">Blog</a></li>
						<li><a href="/contact">Contact</a></li>
					</ul>
				</div>
				<div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1 ">
					<ul class="fh5co-footer-links">
						<li><a href="/registration">Facebook</a></li>
						<li><a href="/blog">LinkedIn</a></li>
						<li><a href="/contact">Twitter</a></li>
					</ul>
				</div>
			</div>
			<div class="row copyright">
				<div class="col-md-12 text-center">
					<p>
						<small class="block">&copy; 2017 Coding Dojo Alumni. All Rights Reserved.</small>
						<small class="block">Designed by <a href="" target="_blank">Coding Dojo Alumi</a></small>
					</p>
					<p>
						<ul class="fh5co-social-icons">
							<li><a href="#"><i class="icon-twitter"></i></a></li>
							<li><a href="#"><i class="icon-facebook"></i></a></li>
							<li><a href="#"><i class="icon-linkedin"></i></a></li>
							<li><a href="#"><i class="icon-dribbble"></i></a></li>
						</ul>
					</p>
				</div>
			</div>
		</div>
	</footer>
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>

	<!-- jQuery -->
	<script src="js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="js/jquery.waypoints.min.js"></script>
	<!-- countTo -->
	<script src="js/jquery.countTo.js"></script>
	<!-- Magnific Popup -->
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/magnific-popup-options.js"></script>
	<!-- Stellar -->
	<script src="js/jquery.stellar.min.js"></script>
	<!-- Main -->
	<script src="js/main.js"></script>

	</body>
</html>
